.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  padding: 10px;
  background-color: #003580;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
